noscript
    | Sorry, your browser doesn't support javascript
header.header
    include ../blocks/header
main.content
    .centering
        .main-city
        .cities
.veil#add-cities
    include ../blocks/add-cities
.msg-container.msg-container--position-fixed
    .msg-container__centering