.centering.col.col--padding.col--block
    .col.col--12-2.col--padding-right
        .header__logo-container
            img(src=require('../../images/logo.png') alt='Weather App Logo').header__logo
    .col.col--12-7
    .col.col--12-3
        .header__btns
            button(data-mission='toggle' data-toggle='veil').btn.btn--size-l.btn--add.btn--wide
                span.btn__icon.btn__icon--size-l.btn__icon--plus-l
                span.btn__text.btn__text--add.btn__text--size-l Add cities
